@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/root";

:root {
  --white: #ffffff;
  --mist-white: #fcfcfc;
  --mist-grey: #f5f6f7;
  --light-grey: #edeff1;
  --medium-grey: #c5ced5;
  --silver-grey: #9eaeb9;
  --deep-blue: #071a29;
  --denim-blue: #3d5d74;
  --dark-blue: #0d3451;
  --dark-blue5: rgba(13, 52, 81, 0.05);
  --sky-blue: #0099fa;
  --blue-light: #f7fcff;
  --sea-blue: #0073bb;
  --flaming-pink: #db4373;
  --sea-blue-30: rgba(0, 153, 250, 0.3);
  --sea-blue-10: rgba(0, 153, 250, 0.1);
  --transition: all ease-in-out 0.2s;
  --box-shadow-blue: 0 15px 51px 0 rgba(0, 153, 250, 0.13);
  --box-shadow-blue-small: 0 0 10px 5px rgba(0, 153, 250, 0.13);
  --box-shadow-gray: 0px 15px 51px rgba(0, 45, 84, 0.13);
  --box-shadow-gray-small: 0 0 10px 5px rgba(0, 45, 84, 0.13);
  --text-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

a,
a:hover {
  transition: 0.2s;
}

html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  scroll-padding-top: 4rem;
}

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

main {
  &.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 3fr;
    @include media-breakpoint-down(sm) {
      grid-template-columns: 1fr;
    }
    aside {
      .content {
        position: sticky;
        top: 1rem;
        background: var(--mist-grey);
        padding: 2rem;
        border-radius: 8px;
        @include media-breakpoint-down(sm) {
          padding: 1rem;
        }
        .intro {
          margin: 0 0 3rem 0;
          @include media-breakpoint-down(sm) {
            margin: 0 0 1rem 0;
            text-align: center;
          }
          h1 {
            font-size: 1.4rem;
            font-weight: bold;
            text-transform: uppercase;
            margin: 0;
            padding: 0;
          }
          p {
            font-size: 1rem;
            margin: 0;
            padding: 0;
          }
        }
        .block {
          @include media-breakpoint-down(sm) {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            align-items: center;
            gap: 8px;
          }
          h3 {
            font-size: 0.8rem;
            letter-spacing: 0.5px;
            color: var(--sea-blue);
            text-transform: uppercase;
            margin: 0;
            padding: 0 0 0.5rem 0;
            @include media-breakpoint-down(sm) {
              padding: 0;
              width: 100%;
              text-align: center;
              display: block;
            }
          }
          a {
            display: table;
            color: var(--dark-blue);
            text-decoration: none;
            padding: 0;
            border-radius: 2rem;
            @include media-breakpoint-up(sm) {
              margin-left: -1rem;
              padding: 0.5rem 1rem;
            }
            &:hover {
              background: rgba(#000, 0.1);
            }
            span {
              font-size: 0.85rem;
              opacity: 0.7;
            }
          }
        }
        a.cta {
          margin: 2rem 0;
          display: block;
          padding: 1rem;
          background: var(--dark-blue);
          color: #fff;
          font-size: 0.8rem;
          font-weight: bold;
          letter-spacing: 1px;
          text-align: center;
          text-transform: uppercase;
          border-radius: 2rem;
          text-decoration: none;
          @include media-breakpoint-down(sm) {
            margin: 1rem 0;
          }
          &:hover {
            background: var(--sea-blue);
          }
        }
        p.updated {
          font-size: 0.6rem;
          margin: 0;
          padding: 0;
          text-align: center;
          text-transform: uppercase;
        }
      }
    }
    article {
      padding: 0 2rem;
      @include media-breakpoint-down(sm) {
        padding: 2rem 0;
      }
      .word-container {
        .word {
          padding: 1rem;
          border-bottom: 1px dashed var(--denim-blue);
          h2 {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin: 0;
            padding: 0;
            span {
              padding: 0 0.8rem 0 0;
              font-size: 1;
              font-weight: normal;
              color: var(--medium-grey);
            }
            a {
              display: table;
              margin: 0 0 0 0.5rem;
              text-decoration: none;
              font-size: 0.9rem;
            }
          }
          p.meaning {
            font-style: italic;
          }
          p.uses {
          }
          p.author {
            color: var(--dark-blue);
            opacity: 0.5;
            text-transform: uppercase;
            font-size: 0.7rem;
            text-align: right;
          }
        }
      }
    }
  }
}
